<header class="header">
  <div class="header__content">
    <div class="header__logo-container">
      <img src="assets/pokemon-logo.png" alt="Pokemon" class="header__pokemon-logo">
    </div>
    
    <nav class="header__navigation">
      <button mat-button routerLink="/profile" class="header__nav-button">
        <mat-icon>person</mat-icon>
        Perfil
      </button>
      
      <button mat-button routerLink="/pokemon-team" class="header__nav-button">
        <mat-icon>catching_pokemon</mat-icon>
        Equipo
      </button>
    </nav>
  </div>
</header>
